<html>
<head>
        <link rel="stylesheet" href="{{STATIC_URL}}/static/css/article.css" />
    </head>
<body>
        {% load static %}
        <div class="header">
            <img src="{{ STATIC_URL  }}/static/img/logo.png" />
        </div>
        <h3 class="reg"><a href="/register">Регистрация</a></h3>
        <h3 class="all-articles"><a href="/">Все Статьи</a></h3>
        <div class="article">
            <div class="one-post">
                <h2 class="post-title">{{ post.title }}</h2>
                <div class="article-info">
                    <div class="article-author">{{ post.author.username }}</div>
                    <div class="article-created-date">{{ post.created_date }}</div>
                </div>
                <p class="article-text">{{ post.text }}</p>
            </div>
        </div>
    </body>
</html>